<h1 class="text-center">Logowanie</h1>
<form (ngSubmit)="onLogin()" class="w-25 mx-auto mt-4 p-4 border rounded">

  <div class="mb-3">
    <label for="loginUsername" class="form-label">Nazwa użytkownika</label>
    <input
      type="text"
      id="loginUsername"
      name="username"
      [(ngModel)]="username"
      placeholder="Wpisz nazwę użytkownika..."
      [class.is-invalid]="message"
    class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="loginPassword" class="form-label">Hasło</label>
    <input
      type="password"
      id="loginPassword"
      name="password"
      [(ngModel)]="password"
      placeholder="Wpisz hasło..."
      [class.is-invalid]="message"
      class="form-control"
    />
  </div>

  <div *ngIf="message" class="text-danger mb-3">
    {{ message }}
  </div>

  <button
    type="submit"
    class="btn btn-primary w-100"
    [disabled]="!username || !password"
  >
    Zaloguj się
  </button>

</form>
