<div class="d-flex flex-column align-items-center justify-content-center text-center">
  <h2>Witamy w Elektronicznym Bilecie Miejskim miasta Wrocław!</h2>

  <!-- Dla niezalogowanych -->
  <div *ngIf="!isLoggedIn">
    <p>Prosty system do kupowania i weryfikacji biletów transportu miejskiego.</p>
    <p>Możesz się zarejestrować lub zalogować, aby rozpocząć.</p>
  </div>

  <!-- Dla zalogowanego użytkownika -->
  <div *ngIf="isLoggedIn && currentUser?.role === 'ROLE_USER'">
    <p class="fs-5">Cześć, {{ currentUser?.username }}!</p>
    <p>Przejdź do zakładki <strong>Oferty biletowe</strong>, aby zobaczyć dostępną ofertę oraz kupić bilet.</p>
    <p>Przejdź do zakładki <strong>Moje bilety</strong>, aby zobaczyć wszystkie kupione bilety, a także je skasować.</p>
  </div>

  <!-- Dla kontrolera -->
  <div *ngIf="isLoggedIn && currentUser?.role === 'ROLE_INSPECTOR'">
    <p class="fs-5">Cześć, kontrolerze {{ currentUser?.username }}!</p>
    <p>Możesz przejść do zakładki <strong>Sprawdź bilet</strong>, aby zweryfikować ważność biletów.</p>
  </div>
</div>
